@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #00c6ff;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*==================== FORM CSS ====================*/
.active-form {
  @apply bg-blue-600 text-white
}

/*==================== EXTERNAL CSS ====================*/
.transition-100 {
  transition: 0.1s;
}
.transition-200 {
  transition: 0.2s;
}
.transition-300 {
  transition: 0.3s;
}